


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="is-marked">

                                        <a href="signin.html">OTP LOGIN</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">ALREADY REGISTERED?</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1">I'M NEW CUSTOMER</h1>

                                        <span class="gl-text u-s-m-b-30">By creating an account with our store, you will
                                            be able to move through the checkout process faster, store shipping
                                            addresses, view and track your orders in your account and more.</span>
                                        <div class="u-s-m-b-15">

                                            <a class="l-f-o__create-link btn--e-transparent-brand-b-2"
                                                href="/signup">CREATE AN ACCOUNT</a>
                                        </div>
                                        <h1 class="gl-h1">OTP LOGIN</h1>

                                        <span class="gl-text u-s-m-b-30">If you have an account with us, please log
                                            in.</span>
                                        <form class="l-f-o__form" action="/sendmessage" method="POST" id="signinform"
                                            name="signinform">

                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="login-email">Phone *</label>

                                                <input class="input-text input-text--primary-style" type="number"
                                                    required id="useremail" name="loginphonenumber" oninput="emailValid()" placeholder="Enter phone number">
                                                     <span id="emailErr"></span>
                                            </div>

                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <button class="btn btn--e-transparent-brand-b-2"
                                                        type="submit">GET OTP</button>
                                                </div>
                                                {{#if mobilenumber}}
                                                <div class="u-s-m-b-30">
                                                    <span class=" " style="color:red;" id="invalid">Mobile number not registered</span>
                                                </div>
                                                {{/if}}
                                            </div>
                                            <a class="gl-link" href="/">Sign un with OTP</a>
                                            <div class="u-s-m-b-30">

                                                <!--====== Check Box ======-->
                                                <div class="check-box">

                                                    <input type="checkbox" id="remember-me">
                                                    <div class="check-box__state check-box__state--primary">
                                                        
                                                        

                                                        {{!-- <label class="check-box__label" for="remember-me">Remember
                                                            Me</label> --}}
                                                    </div>
                                                </div>
                                                <!--====== End - Check Box ======-->
                                            </div>
                                        </form>

                                        <form class="l-f-o__form" action="/sendmessage" method="POST" id="signinform"
                                            name="signinform">

                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="login-email">Phone *</label>

                                                <input class="input-text input-text--primary-style" type="number"
                                                    required id="useremail" name="loginphonenumber" oninput="emailValid()" placeholder="Enter phone number">
                                                     <span id="emailErr"></span>
                                            </div>

                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <button class="btn btn--e-transparent-brand-b-2"
                                                        type="submit">LOGIN</button>
                                                </div>
                                                {{#if mobilenumber}}
                                                <div class="u-s-m-b-30">
                                                    <span class=" " style="color:red;" id="invalid">Mobile number not registered</span>
                                                </div>
                                                {{/if}}
                                            </div>
                                            <a class="gl-link" href="/">Sign un with OTP</a>
                                            <div class="u-s-m-b-30">

                                                <!--====== Check Box ======-->
                                                <div class="check-box">

                                                    <input type="checkbox" id="remember-me">
                                                    <div class="check-box__state check-box__state--primary">
                                                        
                                                        

                                                        {{!-- <label class="check-box__label" for="remember-me">Remember
                                                            Me</label> --}}
                                                    </div>
                                                </div>
                                                <!--====== End - Check Box ======-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
     <script>
              setTimeout(function () {
            document.getElementById("invalid").innerHTML = "";
        }, 4000);

     </script>


     <script>

    $("#checkoutform").submit((e)=>{
        console.log("hii hello")
        e.preventDefault()
        $.ajax({
            url:'/placeorder',
            method:'post',
            data:$('#checkoutform').serialize(),
            success:(response)=>{
                alert('order success')
                if(response.status){
                    location.href='/ordersuccesspage'
                }
            }
        })
    })


</script >