







        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a>
                                    </li>
                                    <li class="is-marked">

                                        <a href="">Edit Profile</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->

            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">EDIT PASSWORD</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1">Email:{{email}}</h1>
                                        <form action="" method="POST" class="l-f-o__form" id="registerform"
                                            name="registerform">


                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-password">PASSWORD *</label>

                                                <input class="input-text input-text--primary-style" type="password"
                                                    id="password" name="password" required oninput="passValid()"
                                                    placeholder="Enter Password" />
                                                <span style="color: brown;" id="passLen"></span>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-password">RE-PASSWORD
                                                    *</label>

                                                <input class="input-text input-text--primary-style" type="password"
                                                    id="repassword" name="repassword" required
                                                    placeholder="Re-Enter Password" />
                                            </div>
                                            
                                            {{!-- <div class="u-s-m-b-30" hidden>

                                                <input class="input-text input-text--primary-style" type="text"
                                                    id="block" name="userid" value={{userdata._id}}>
                                            </div>  --}}
                                            <div class="u-s-m-b-15">

                                                <button class="btn btn--e-transparent-brand-b-2" onclick="matchPassword()"
                                                    type="submit">UPDATE</button>
                                            </div>

                                            <a class="gl-link" href="/">Return to Store</a>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->




        <script>


        document.registerform.addEventListener("submit", function (event) {
            var pass = this.querySelector("input[id=password]").value;
            var pass2 = this.querySelector("input[id=repassword]").value;
             if (pass.trim() == "" || pass.length < 3) {
                document.getElementById("password").focus();
                event.preventDefault();
            } else if (pass.trim() != pass2.trim()) {
                document.getElementById("repassword").focus();
                event.preventDefault();
            }
        });


        function passValid() {
            var text = document.getElementById("password").value;
            var letters = /^[a-zA-Z\s]*$/;
            if (text.length == 0) {
                // document.getElementById("nameLen").style.display = "block";
                document.getElementById("passLen").innerHTML = "required ";

                // document.getElementById("nameErr").style.display = "none";
            } else if (text.length < 3) {
                document.getElementById("passLen").innerHTML = "Minimum Length required";
            } else {

                document.getElementById("passLen").innerHTML = " ";

            }
        }

        function matchPassword() {
            var pw1 = document.getElementById("password").value;
            // console.log(pw1)
            var pw2 = document.getElementById("repassword").value;
            // console.log(pw1)
            if (pw1 == "" && pw2 == "") {
                alert('field required')
            } else {
                if (pw1 != pw2) {
                    alert("Passwords did not match");
                }
            }
        }


        function emailValid() {
            var text = document.getElementById("useremail").value;
            var letters = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;

            if (text == "") {
                document.getElementById("emailErr").innerHTML = " required";
                //   document.getElementById("nameLen").style.display = "none";
                //   document.getElementById("nameErr").style.display = "none";
            }
            else if (!text.match(letters)) {
                document.getElementById("emailErr").innerHTML = "Valid email required";

                // document.getElementById("emailErr").style.display = "block";
                // document.getElementById("emailReq").style.display = "none";
                //   document.getElementById("nameLen").style.display = "none";

            }
            else {
                document.getElementById("emailErr").innerHTML = " ";
                //   document.getElementById("nameErr").style.display = "none";

            }
        }

        function nameValid() {
            var text = document.getElementById("userfname").value;
            var letters = /^[a-zA-Z\s]*$/;
            if (text.length == 0) {
                // document.getElementById("nameLen").style.display = "block";
                document.getElementById("nameReq").innerHTML = "required ";

                // document.getElementById("nameErr").style.display = "none";
            } else if (text.length < 3) {

                document.getElementById("nameReq").innerHTML = "Minimum Length required";

            } else if (!text.match(letters)) {

                document.getElementById("nameReq").innerHTML = "Only letters are allowed";

            } else {

                document.getElementById("nameReq").innerHTML = " ";
                document.getElementById("nameReq").innerHTML = " ";

            }
        }

        function latnameValid() {
            var text = document.getElementById("userlname").value;
            var letters = /^[a-zA-Z\s]*$/;
            if (text.length == 0) {
                // document.getElementById("nameLen").style.display = "block";
                document.getElementById("lastnameReq").innerHTML = "required ";

                // document.getElementById("nameErr").style.display = "none";
            } else if (text.length < 1) {

                document.getElementById("lastnameReq").innerHTML = "Minimum Length required";

            } else if (!text.match(letters)) {

                document.getElementById("lastnameReq").innerHTML = "Only letters are allowed";

            } else {

                document.getElementById("lastnameReq").innerHTML = " ";
                document.getElementById("lastnameReq").innerHTML = " ";

            }
        }




    </script>